# Visual Studio project files
*.suo
*.user
*.userosscache
*.sln.docstates
*.dbmdl
*.cache
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.scc
*.vssscc
.builds
*.pidb
*.svclog
*.sln.cache
*.sln.DotSettings.user
*.resharper
*.ReSharper.*
*.resharper-user
*.DotSettings.user
*.sln.DotSettings
*.suo.DotSettings
*.suo.DotSettings.user
*.csproj.DotSettings
*.csproj.DotSettings.user
*.vbproj.DotSettings
*.vbproj.DotSettings.user
*.fsproj.DotSettings
*.fsproj.DotSettings.user
*.njsproj.DotSettings
*.njsproj.DotSettings.user
*.pyproj.DotSettings
*.pyproj.DotSettings.user
*.sqlproj.DotSettings
*.sqlproj.DotSettings.user
*.shproj.DotSettings
*.shproj.DotSettings.user
*.jsproj.DotSettings
*.jsproj.DotSettings.user
*.vcxproj.DotSettings
*.vcxproj.DotSettings.user
*.vcproj.DotSettings
*.vcproj.DotSettings.user
*.fsproj.DotSettings
*.fsproj.DotSettings.user
*.njsproj.DotSettings
*.njsproj.DotSettings.user
*.pyproj.DotSettings
*.pyproj.DotSettings.user
*.sqlproj.DotSettings
*.sqlproj.Dotsettings.user
*.shproj.DotSettings
*.shproj.DotSettings.user
*.jsproj.DotSettings
*.jsproj.DotSettings.user
*.vcxproj.DotSettings
*.vcxproj.DotSettings.user
*.vcproj.DotSettings
*.vcproj.DotSettings.user
*.fsproj.DotSettings
*.fsproj.DotSettings.user
*.njsproj.DotSettings
*.njsproj.DotSettings.user
*.pyproj.DotSettings
*.pyproj.DotSettings.user
*.sqlproj.DotSettings
*.sqlproj.DotSettings.user
*.shproj.DotSettings
*.shproj.DotSettings.user
*.jsproj.DotSettings
*.jsproj.DotSettings.user
*.vcxproj.DotSettings
*.vcxproj.DotSettings.user
*.vcproj.DotSettings
*.vcproj.DotSettings.user

# Build output
bin/
obj/
Debug/
Release/
ipch/
*.pdb
*.ilk
*.iobj
*.ipdb
*.ncb
*.aps
*.log
*.lastbuildstate
*.tlog
*.tmp
*.bak
*.cache
*.vspscc
*.vssscc
*.scc
*.suo
*.user
*.sdf
*.pdb
*.mdb
*.tlb
*.tlh
*.bak
*.tmp
*.orig
*.rej
*.exe
*.dll
*.lib
*.exp
*.obj
*.o
*.pdb
*.ilk
*.idb
*.pch
*.map
*.res
*.rsc
*.manifest
*.vsixmanifest
*.testlog
*.vsix
*.vstemplate
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsixlangpack
*.vsixinstaller
*.vsixmanifest
*.vsix
*.vsix......
